body {
  font-family: "Trebuchet MS";
}

#title {
  text-align: center;
}

#main-map {
  width: 600px; 
  height: 400px;
}

#extra-info {
  display: flex;
  margin: 20px;
}

#aviemore-forecast {
  margin-left: 10px;
}